<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <div class="chart_div">
    <h3>Temperature Plot for specific region in a year.</h3>
    <p>Please select a Region an a year.</p>
    <app-climate-chart></app-climate-chart>
  </div>
  <div class="chart_div">
    <h3>Barchart comparison of temperature variances  </h3>
    <p>Please select a year and a Climate condition to be displayed.</p>
    <app-compare-chart></app-compare-chart>
  </div>
</div>
